body {
   text-align: center;
   background-color:black;
   width:100%;
   height:100%;
}

h1 {
   color: blue; 
}

p.status {
   color: white;
}

input[type=button].play {
    border: 3px outset green;
    color: green;
    background-color: #2B2B2B;
    width: 25%;
    height:200%;
    font-size: 200%;
}

input[type=button] {
    border: 3px outset blue;
    color: blue;
    background-color: #2B2B2B;
    width: 5%;
    height:200%;
    font-size: 200%;
}
